@{
    ViewData["Title"] = "Parolni O'zgartirish";
}

<h2>Parolni O'zgartirish</h2>

<form asp-action="ChangePassword" method="post">
    <div class="mb-3">
        <label>Hozirgi parol</label>
        <input type="password" name="currentPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Yangi parol</label>
        <input type="password" name="newPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Yangi parolni tasdiqlash</label>
        <input type="password" name="confirmPassword" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">O'zgartirish</button>
    <a asp-action="Index" class="btn btn-secondary">Orqaga</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
